.adminAnnouncement--main-container {
  padding: 30px 0px;
  padding-right: 30px;
  width: 100%;
}
.adminAnnouncement--input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.adminAnnouncement--input-inner-container {
  display: flex;
  align-items: center;
  //   justify-content: center;
}
.adminAnnouncement--label {
  display: inline-block;
  width: 120px;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #313131;
}
.adminAnnouncement--input {
  border: 1px solid #a1a1a1;
  height: 35px;
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
}
.adminAnnouncement--button-container {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
.adminAnnouncement--post-button {
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: #3064d4;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  color: white;
}
.adminAnnouncement--cancel-button {
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  color: #3064d4;
  border: 2px solid #3064d4;
}
@media (max-width: 900px) {
  .adminAnnouncement--main-container {
    padding: 15px;
    margin-top: 40px;
  }
}
@media (max-width: 400px) {
  .adminAnnouncement--label {
    font-size: 14px;
  }
  .adminAnnouncement--button-container {
    flex-direction: column;
  }
}
