.sidebarLayout--main-container {
  display: flex;
  position: relative;
  gap: 25px;
  width: 100%;
  max-width: 1400px;
}
// @media (max-width: 1130px) {
//   .sidebarLayout--main-container {
//     padding: 20px;
//   }
// }
// @media (max-width: 630px) {
//   .sidebarLayout--main-container {
//     padding: 10px;
//   }
// }
