.dashboard--main-inner-container {
  display: flex;
  gap: 25px;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .dashboard--main-container {
    width: 100%;
    // background-color: black;
  }
}

@media (min-width: 1550px) {
  .dashboard--main-container {
    min-height: 100%;
    // background-color: black;
  }
}
@media (max-width: 1130px) {
  .dashboard--main-container {
    padding: 20px;
  }
}
@media (max-width: 630px) {
  .dashboard--main-container {
    padding: 10px;
  }
}
