.salesUpdate--main-container {
  width: 100%;
  padding: 20px 0px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}
.salesUpdate--input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.salesUpdate--input-inner-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
}
.salesUpdate--input-text {
  width: 100px;
}
.salesUpdate--input {
  background: transparent;
  border: 1px solid #a1a1a1;
  height: 35px;
  border-radius: 8px;
  width: 300px;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
}
.salesUpdate--input-dropdown {
  background: transparent;
  border: 1px solid #a1a1a1;
  height: 35px;
  border-radius: 8px;
  width: 300px;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.salesUpdate--arrow-icon {
  height: 20px;
}
.salesUpdate--dropdown-option-container {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 6px -2px #10182808;

  box-shadow: 0px 12px 16px -4px #10182814;
  border: 1px solid #f2f4f7;
  width: 100%;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.salesUpdate--dropdown-options {
  cursor: pointer;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.salesUpdate--button-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.salesUpdate--update-button {
  height: 45px;
  width: 140px;
  background-color: #3064d4;
  border: none;
  border-radius: 5px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  color: white;
  line-height: 25.5px;
  letter-spacing: -0.03em;
}
.salesUpdate--cancel-button {
  height: 45px;
  width: 140px;
  background-color: white;
  border: 1px solid #a80532f0;
  color: #a80532f0;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  line-height: 25.5px;
  letter-spacing: -0.03em;
}
@media (max-width: 1130px) {
  .salesUpdate--main-container {
    padding: 15px;
  }
}

@media (max-width: 790px) {
  .salesUpdate--main-container {
    flex-direction: column;
    gap: 50px;
  }
  .salesUpdate--button-container {
    align-self: center;
  }
}
@media (max-width: 390px) {
  .salesUpdate--input-inner-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .salesUpdate--input-text {
    text-wrap: nowrap;
  }
}
@media (max-width: 340px) {
  .salesUpdate--button-container {
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
  }
  .salesUpdate--cancel-button,
  .salesUpdate--update-button {
    width: 120px;
    font-size: 14px;
  }
  .salesUpdate--input,
  .salesUpdate--input-dropdown {
    min-width: 0;
    max-width: 200px;
  }
}
