@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.Tools-wrapper-topbar-div {
  display: flex;
  gap: 4%;
  // width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  overflow-x: hidden;
  //   width: 40%;
  //   width: 50%;
}
.Tools-wrapper-topbar-div-mobile {
  display: none;
  gap: 4%;
  // width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  overflow-x: hidden;
}
.Tools-wrapper-topbar-text {
  font-family: Open Sans;
  //   min-width: 30%;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  border-bottom: 4px solid #a1a1a1;
  //   padding-right: 0;
  padding-right: 2%;
  padding-bottom: 10px;
  color: #a1a1a1;
  cursor: pointer;
}

.Tools-wrapper-topbar-text:hover {
  color: #123c97;
  border-color: #123c97;
}

@media screen and (min-width: 2000px) {
  .Tools-wrapper-topbar-text {
    font-size: 25px;
    // width: 200%;
  }
}

@media screen and (max-width: 1024px) {
  .Tools-wrapper-topbar-text {
    font-size: 17px;
  }
}

@media screen and (max-width: 950px) {
  .Tools-wrapper-topbar-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 710px) {
  .Tools-wrapper-topbar-div {
    display: none;
  }
  .Tools-wrapper-topbar-div-mobile {
    display: flex;
  }
  .Tools-wrapper-topbar-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .Tools-wrapper-topbar-text {
    padding-bottom: 0px;
    border-bottom: 2px solid;
  }
  .Tools-wrapper-topbar-text {
    font-size: 15.5px;
  }
}
@media screen and (max-width: 340px) {
  .Tools-wrapper-topbar-text {
    font-size: 12px;
    padding-bottom: 0px;
    border-bottom: 2px solid;
  }
}
@media screen and (max-width: 270px) {
  .Tools-wrapper-topbar-text {
    font-size: 10px;
  }
}
