.clientDetails--main-container {
  width: 100%;
  max-width: fit-content;
  //   background-color: #2d355c;
  //   padding: 10px 0px;
  // margin-right: 20px;
  box-sizing: border-box;
  // background-color: #123c97;
  display: flex;
  flex-direction: column;
  align-items: start;
}
