.email-error,
.password-error {
  color: #ff5050;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 14.98px;
  text-align: left;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.RegisterComponent--Container {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.RegisterComponent--main {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  gap: 18px;
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
.RegisterComponent--main--logo {
  width: 25%;
}
.RegisterComponent--main--text {
  color: #525252;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 600;
  // line-height: 38.13px;
  text-align: left;
}
.RegisterComponent--main--text-mobile {
  display: none;
  color: #525252;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 600;
  // line-height: 38.13px;
  text-align: left;
}
.RegisterComponent--main--GoogleButton-img {
  height: 25px;
}
.RegisterComponent--main--FBbutton-img {
  height: 25px;
}
.RegisterComponent--main--ContinueButton {
  display: flex;
  justify-content: center;
  gap: 8%;
  width: 100%;
  align-items: center;
}
.RegisterComponent--main--GoogleButton {
  border: 1px solid #e8e8e8;
  display: flex;
  gap: 4%;
  // justify-content: space-between;

  padding-left: 2%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  height: fit-content;
  width: 35%;
  background-color: white;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.RegisterComponent--main--GoogleButton-text {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  text-align: left;
}
.RegisterComponent--main--FBbutton {
  border: 1px solid #e8e8e8;
  display: flex;
  gap: 4%;
  width: 35%;
  // justify-content: space-between;

  padding-left: 2%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  height: fit-content;
  // width: 50%;
  background-color: white;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.RegisterComponent--main--FBbutton-text {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  text-align: left;
}
.RegisterComponent--main--hr {
  margin-top: 2%;
  width: 64%;
}
.RegisterComponent--main--input {
  border: none;
  border-bottom: 1px solid rgba(82, 82, 82, 0.2);
  width: 64%;
  padding-left: 10px;
  color: black;
  opacity: 0.5;
  margin-top: 2%;
  height: 40px;
  background-color: #f8f8f8;
}

.RegisterComponent--main--Login {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #a1a1a1;
}
.RegisterComponent--main--LoginLink {
  text-decoration: none;
  color: #2366f8;
}
.RegisterComponent--main--checkbox--div {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.7px;
  text-align: left;

  margin-top: 10px;
  width: 66%;
  gap: 5px;
  // align-self: flex-start;
  display: flex;
}
@media (min-width: 2000px) {
  .RegisterComponent--main--GoogleButton {
    width: 25%;
  }
  .RegisterComponent--main--FBbutton {
    width: 25%;
  }
}

@media (max-width: 1205px) {
  .RegisterComponent--main--text {
    font-size: 32px;
  }
  .RegisterComponent--main--FBbutton {
    padding-right: 1%;
  }
  .RegisterComponent--main--GoogleButton {
    padding-right: 1%;
  }
}
@media (max-width: 1130px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 10px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 10px;
  }
}
@media (max-width: 1037px) {
  .RegisterComponent--main--text {
    font-size: 28px;
  }
}
@media (max-width: 973px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 9px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 9px;
  }
}
@media (max-width: 952px) {
  .RegisterComponent--main {
    width: 80%;
  }

  .RegisterComponent--main--FBbutton-text {
    font-size: 10px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 10px;
  }
  .RegisterComponent--main--GoogleButton {
    width: 25%;
  }
  .RegisterComponent--main--FBbutton {
    width: 25%;
  }
}
@media (max-width: 883px) {
  .RegisterComponent--main--GoogleButton {
    width: 30%;
  }
  .RegisterComponent--main--FBbutton {
    width: 30%;
  }
  .RegisterComponent--main--FBbutton-text {
    font-size: 11px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 11px;
  }
}
@media (max-width: 778px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 10px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 10px;
  }
}
@media (max-width: 744px) {
  .RegisterComponent--main {
    width: 100%;
  }

  .RegisterComponent--main--FBbutton-text {
    font-size: 11px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 11px;
  }

  .RegisterComponent--main--ContinueButton {
    gap: 2%;
  }
}
@media (max-width: 651px) {
  .RegisterComponent--main--Login {
    font-size: 12px;
  }
  .RegisterComponent--main--ContinueButton {
    flex-direction: column;
    gap: 15px;
  }
  .RegisterComponent--main--FBbutton-text {
    font-size: 13px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 13px;
  }

  .RegisterComponent--main--GoogleButton {
    width: 40%;
  }
  .RegisterComponent--main--FBbutton {
    width: 40%;
  }
}

@media (max-width: 579px) {
  .RegisterComponent--main--text {
    display: none;
  }
  .RegisterComponent--main--text-mobile {
    display: block;
    font-size: 40px;
  }
  .RegisterComponent--main--Login {
    font-size: 10px;
  }
  .RegisterComponent--main--ContinueButton {
    flex-direction: column;
    gap: 15px;
  }
  .RegisterComponent--main--FBbutton-text {
    font-size: 11px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 11px;
  }
}
@media (max-width: 454px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 9px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 9px;
  }
}
@media (max-width: 434px) {
  .RegisterComponent--main--input {
    height: 25px;
    font-size: 8px;
  }
}
@media (max-width: 400px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 8px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 8px;
  }
  .RegisterComponent--main--Login {
    font-size: 8px;
  }
}
@media (max-width: 361px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 7px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 7px;
  }
  .RegisterComponent--main--Login {
    font-size: 7px;
  }
  .RegisterComponent--main--input {
    font-size: 11px;
  }
}
@media (max-width: 317px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 6.5px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 6.5px;
  }
  .RegisterComponent--main--GoogleButton-img {
    height: 15px;
  }
  .RegisterComponent--main--FBbutton-img {
    height: 15px;
  }
}
@media (max-width: 284px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 6px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 6px;
  }
  .RegisterComponent--main--text-mobile {
    font-size: 20px;
  }
}
@media (max-width: 257px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 5.5px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 5.5px;
  }
  .RegisterComponent--main--Login {
    font-size: 6px;
  }
}
@media (max-width: 238px) {
  .RegisterComponent--main--FBbutton-text {
    font-size: 5px;
  }
  .RegisterComponent--main--GoogleButton-text {
    font-size: 5px;
  }
  .RegisterComponent--main--Login {
    font-size: 6px;
  }
}
