.courseGrid--main-container {
  box-sizing: border-box;
  padding: 35px;
  padding-left: 0px;
  display: flex;
  max-width: 100%;
  //   background-color: #3064d4;
  //   flex-grow: 0;
  //   overflow: hidden;
  //   background-color: #3064d4;
  flex-direction: column;
  gap: 20px;
}
.courseGrid--title-container {
  padding: 0px 20px;
  padding-right: 30px;
  height: 100px;
  //   padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  //   justify-content: flex-start;
  max-width: 100%;
  background-image: url("./images/power-compass-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: left;
  color: white;
}
.courseGrid--search-filter-container {
  display: flex;
  gap: 50px;
  width: 100%;
  position: relative;
}
.courseGrid--search-input {
  //   width: 100%;
  height: 25px;
  border: 1px solid #d6d6d6;
  background: #f5f6fb;
  padding: 10px;
  flex: 4;
  padding-left: 50px;
  border-radius: 8px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #525252;
}
.courseGrid--search-input:focus {
  outline: none;
  border: 1px solid #3064d4;
}
.courseGrid--search-icon {
  position: absolute;
  height: 20px;
  top: 12px;
  left: 15px;
}
.courseGrid--filter-button {
  flex: 2;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
  padding: 0px 30px;
  background-color: #f5f6fb;

  font-family: Epilogue;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #525252;
}
.courseGrid--filter-icon {
  height: 25px;
  margin: 0;
}
.courseGrid--grid-container {
  display: grid;
  max-width: 100%;
  // max-height: 800px;
  // overflow-y: scroll;
  box-sizing: border-box;
  flex-grow: 0;
  //   background-color: #3064d4;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  //   overflow: hidden;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.courseGrid--course-container {
  display: flex;
  max-width: 100%;
  //   background-color: black;
  //   background-color: #3064d4;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: all 0.09s ease-in;
}
.courseGrid--course-container:hover {
  scale: 1.02;
}

.courseGrid--course-placeholder {
  //   max-height: 180px;
  // max-height: 100%;
  // max-width: 100%;
  height: 180px;
  // background-image: url("./images/course-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.courseGrid--course-category {
  background-color: #e195003d;
  // display: flex;
  max-width: fit-content;
  font-family: Epilogue;
  font-size: 13px;
  color: #ca5c23;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: -0.03em;
  text-align: center;
  padding: 5px;
}
.courseGrid--course-title {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 5px;
}
@media (min-width: 1355px) {
  .courseGrid--main-container {
    width: 100%;
    max-width: none;
  }
}
// @media (min-width: 1450px) {
//   .courseGrid--main-container {
//     max-width: none;
//     min-width: 1105px;
//     min-height: 1190px;
//   }
// }
// @media (min-width: 1500px) {
//   .courseGrid--main-container {
//     min-width: 1190px;
//   }
// }
// @media (min-width: 1550px) {
//   .courseGrid--main-container {
//     max-width: none;
//     min-width: 1240px;
//   }
//   .courseGrid--title-container {
//     font-size: 20px;
//     height: 150px;
//   }
//   .courseGrid--search-input {
//     height: 45px;
//     font-size: 20px;
//   }
//   .courseGrid--search-icon {
//     height: 28px;
//     top: 17px;
//   }
//   .courseGrid--filter-button {
//     font-size: 20px;
//   }
//   .courseGrid--filter-icon {
//     height: 28px;
//   }
//   .courseGrid--course-placeholder {
//     height: 220px;
//   }
// }
// @media (min-width: 1602px) {
//   .courseGrid--main-container {
//     max-width: 1000px;
//   }
// }
// @media (min-width: 1650px) {
//   .courseGrid--main-container {
//     max-width: none;
//     min-width: 1310px;
//   }
// }
@media (min-width: 1750px) {
  .courseGrid--grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
// @media (min-width: 1800px) {
//   .courseGrid--main-container {
//     min-width: 1415px;
//   }
// }
// @media (min-width: 1880px) {
//   .courseGrid--main-container {
//     min-width: 1470px;
//   }
// }
@media (max-width: 1200px) {
  .courseGrid--course-title {
    font-size: 15px;
  }
}
@media (max-width: 1130px) {
  .courseGrid--main-container {
    padding: 15px;
  }
}
@media (max-width: 1000px) {
  .courseGrid--grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 780px) {
  .courseGrid--search-input {
    flex: 3;
  }
}
@media (max-width: 690px) {
  .courseGrid--search-filter-container {
    gap: 10px;
    // justify-content: center;
  }
}
@media (max-width: 650px) {
  .courseGrid--grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .courseGrid--filter-button {
    font-size: 13px;
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .courseGrid--title-container {
    font-size: 14px;
  }
  .courseGrid--filter-button {
    font-size: 13px;
    padding: 0 10px;
  }
}
@media (max-width: 535px) {
  .courseGrid--filter-icon {
    height: 20px;
  }
  .courseGrid--filter-button {
    // padding: 0;
    gap: 10px;
  }
}
@media (max-width: 510px) {
  .courseGrid--filter-button {
    font-size: 11px;
  }
}
@media (max-width: 470px) {
  .courseGrid--grid-container {
    grid-template-columns: 1fr;
  }
  .courseGrid--search-filter-container {
    flex-direction: column;
  }
  .courseGrid--filter-button {
    // height: 60px;
    padding: 15px;
    font-size: 15px;
  }
  .courseGrid--filter-icon {
    height: 25px;
  }
  .courseGrid--search-icon {
    top: 8px;
  }
}
@media (max-width: 380px) {
  .courseGrid--title-container {
    font-size: 12px;
  }
}
@media (max-width: 323px) {
  .courseGrid--title-container {
    font-size: 10px;
    line-height: 20px;
    height: 80px;
  }
  .courseGrid--search-input {
    font-size: 14px;
  }
  .courseGrid--filter-button {
    font-size: 13px;
  }
  .courseGrid--filter-icon {
    height: 20px;
  }
}
@media (max-width: 280px) {
  .courseGrid--title-container {
    // font-size: 8px;
    line-height: 15px;
    height: 80px;
  }
}
