.button {
  margin-top: 5%;
  width: 30%;
  height: 38px;
  border-radius: 6px;
  color: white;
  background-color: #123c97;
  transition: all 0.2s ease-in-out;
  border: none;
}
.button:hover {
  cursor: pointer;
  scale: 1.01;
}
@media screen and (max-width: 716px) {
  .button {
    font-size: 12px;
  }
}

@media screen and (max-width: 558px) {
  .button {
    font-size: 11px;
  }
}
@media screen and (max-width: 510px) {
  .button {
    // font-size: 9px;
    height: 32px;
    width: 40%;
  }
}
@media screen and (max-width: 361px) {
  .button {
    font-size: 9px;
    height: 22px;
    // width: 55%;
  }
}
