.mobileBirthday--main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.mobileBirthday--title {
  font-family: Epilogue;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1e1e1e;
}
.home--client-birthday-inner-container {
  display: flex;
  gap: 10px;
}
.home--client-birthday-title {
  font-family: Epilogue;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1e1e1e;
}
.home--client-birthday-list {
  background-color: green;
  width: 100%;
  border-radius: 5px;

  display: flex;
  // scrollbar-gutter: stable;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
// .home--client-birthday-list::-webkit-scrollbar {
//   display: none;
// }
.home--client-birthday {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
  justify-content: space-between;
  transition: all 0.15s ease-in;
}
.home--client-birthday:hover {
  scale: 1.05;
}
.home--client-image {
  height: 40px;
}
.home--birthday-name-date-container {
  display: flex;
  flex-direction: column;
}
.home--client-name {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #393e46;
}
.home--birthday-date {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #686868;
}
.home--cake-icon {
  max-height: 20px;
  align-self: flex-start;
}
