@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.sidebar--main-container {
  min-height: 900px;
  padding: 10px 20px;
  max-width: 250px;
  min-width: 250px;
  padding-right: 20px;
  background-color: #e195003d;
}
.red {
  color: #a80532f0;
}
.black {
  color: green;
}
.sidebar--menu-container {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 30px;
}
.sidebar--menu-inner-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.sidebar--company-logo {
  height: 155px;
  max-width: 155px;
  align-self: center;
  // margin-left: -10px;
  margin-bottom: 20px;
}
.sidebar--menu-title-container {
  display: flex;
  gap: 20px;
  align-items: center;

  transition: all 0.07s ease-in;
}
.sidebar--menu-title-container:hover {
  scale: 1.05;
}
.sidebar--menu-icon {
  height: 20px;
}
.sidebar--menu-text {
  src: url(/src/fonts/OpenSans-VariableFont_wdth,wght.ttf);
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
}
.sidebar--support-logout-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar--mobile-main-container {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 800px;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  max-height: 100%;
  box-sizing: border-box;
  padding: 50px;
  z-index: 2;
}
.sidebar--mobile-hamburger-container {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;
  height: 50px;
  z-index: 200;
  width: 50px;
  background-color: #f5f6fbdb;
  border-radius: 30px;
}
.sidebar--mobile-hamburger {
  height: 65%;
}
.sidebar--mobile-cross-icon {
  height: 30px;
}
.sidebar--mobile-menu-list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.sidebar--mobile-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.sidebar--mobile-menu-icon {
  height: 25px;
}
.sidebar--mobile-menu-title {
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 600;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
}

// @media (min-width: 1500px) {
//   .sidebar--main-container {
//     min-width: 280px;
//   }
// }
@media (min-width: 1450px) {
  .sidebar--main-container {
    // max-width: none;
    min-width: 250px;
    min-height: 1145px;
  }
  .sidebar--menu-text {
    font-size: 16px;
  }
  .sidebar--menu-icon {
    height: 22px;
  }
  .sidebar--menu-inner-container {
    gap: 20px;
  }
  .sidebar--support-logout-container {
    gap: 20px;
  }
  .sidebar--menu-container {
    height: 100%;
  }
}

@media (min-width: 1600px) {
  .sidebar--main-container {
    min-width: 240px;
  }
}
// @media (min-width: 1650px) {
//   .sidebar--menu-text {
//     font-size: 16px;
//   }
// }
@media (min-width: 1700px) {
  .sidebar--main-container {
    min-width: 275px;
    padding-right: 20px;
    padding-left: 40px;
  }
  .sidebar--menu-text {
    font-size: 18px;
  }
  .sidebar--company-logo {
    margin-left: -20px;
  }
}

@media (max-width: 1130px) {
  .sidebar--main-container {
    display: none;
  }
  .sidebar--mobile-hamburger-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
  }
}
@media (max-width: 325px) {
  .sidebar--mobile-main-container {
    padding: 20px;
  }
}
@media (max-width: 263px) {
  .sidebar--mobile-menu-title {
    font-size: 13px;
  }
  .sidebar--mobile-menu-icon {
    height: 20px;
  }
}
