.clientData--main-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  padding-right: 20px;
}
@media (min-width: 1450px) {
  .clientData--main-container {
    min-height: 1190px;
    min-width: 0px;
    max-width: 1105px;
  }
}
@media (min-width: 1500px) {
  .clientData--main-container {
    min-width: 1190px;
  }
}

@media (min-width: 1550px) {
  .clientData--main-container {
    min-width: 1240px;
  }
}
@media (min-width: 1650px) {
  .clientData--main-container {
    min-width: 1310px;
  }
}
@media (min-width: 1800px) {
  .clientData--main-container {
    min-width: 1415px;
  }
}
@media (min-width: 1880px) {
  .clientData--main-container {
    min-width: 1470px;
  }
}

@media (max-width: 1130px) {
  .clientData--main-container {
    padding: 15px;
  }
}
