.course--main-container {
  display: flex;
  max-width: 100%;
  gap: 25px;
  // background-color: aqua;
}
@media ((min-width: 1350px) and (max-width:1450px)) {
  .course--main-container {
    width: 100%;
  }
}
