.allLinks--main-container {
  padding: 20px 0px;
  width: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 900px;
  overflow-y: scroll;
}
.allLinks--link-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.allLinks--heading {
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 600;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
}
.allLinks--link-inner-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.allLinks--sub-heading {
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 5px;
}
.allLinks--link-text {
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #3064d4;
  text-decoration: none;
}

@media (min-width: 1450px) {
  .allLinks--main-container {
    min-height: 1190px;
    min-width: 0px;
    padding-right: 0px;
    max-width: 1105px;
  }
}
@media (min-width: 1500px) {
  .allLinks--main-container {
    min-width: 1190px;
  }
  .allLinks--heading {
    font-size: 22px;
  }
  .allLinks--sub-heading {
    font-size: 20px;
  }
  .allLinks--link-text {
    font-size: 18px;
  }
}

@media (min-width: 1550px) {
  .allLinks--main-container {
    min-width: 1240px;
  }
}
@media (min-width: 1650px) {
  .allLinks--main-container {
    min-width: 1310px;
  }
}
@media (min-width: 1800px) {
  .allLinks--main-container {
    min-width: 1415px;
  }
}
@media (min-width: 1880px) {
  .allLinks--main-container {
    min-width: 1470px;
  }
}

@media (max-width: 1130px) {
  .allLinks--main-container {
    padding: 15px;
  }
}
